mixin colorOptions(selected)
  option(value='transparent', selected=(selected === 'transparent' ? true : false)) 
  option(value='#fff', selected=(selected === '#fff' ? true : false)) White
  option(value='#000', selected=(selected === '#000' ? true : false)) Black
  option(value='@darkColor1', selected=(selected === '@darkColor1' ? true : false)) darkColor1
  option(value='@darkColor2', selected=(selected === '@darkColor2' ? true : false)) darkColor2
  option(value='@darkColor3', selected=(selected === '@darkColor3' ? true : false)) darkColor3
  option(value='@lightColor1', selected=(selected === '@lightColor1' ? true : false)) lightColor1
  option(value='@lightColor2', selected=(selected === '@lightColor2' ? true : false)) lightColor2
  option(value='@lightColor3', selected=(selected === '@lightColor3' ? true : false)) lightColor3
  option(value='@globalHoverColor1', selected=(selected === '@globalHoverColor1' ? true : false)) globalHoverColor1
  option(value='@globalHoverColor2', selected=(selected === '@globalHoverColor2' ? true : false)) globalHoverColor2
